<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" th:href="@{/main.css}" />
      <link rel="stylesheet" th:href="@{/bootstrap-icons.css}" />
      <link
        rel="shortcut icon"
        th:href="@{/images/todo_icon_1.png}"
        type="image/x-icon"
      />
      <title>Todo List</title>

      <!-- Automatic Reload web -->
      <!-- <script src="http://localhost:35729/livereload.js"></script> -->

      <!-- jQuery -->
      <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-3.4.1.min.js"
      ></script>
      <!--Regular Datatables CSS-->
      <link
        href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
        rel="stylesheet"
      />
      <!--Responsive Extension Datatables CSS-->
      <link
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"
        rel="stylesheet"
      />
      <!--Datatables -->
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

      <style>
        /*Overrides for Tailwind CSS */

        /*Form fields*/
        .dataTables_wrapper select,
        .dataTables_wrapper .dataTables_filter input {
          color: #4a5568;
          /*text-gray-700*/
          padding-left: 1rem;
          /*pl-4*/
          padding-right: 1rem;
          /*pl-4*/
          padding-top: 0.5rem;
          /*pl-2*/
          padding-bottom: 0.5rem;
          /*pl-2*/
          line-height: 1.25;
          /*leading-tight*/
          border-width: 2px;
          /*border-2*/
          border-radius: 0.25rem;
          border-color: #edf2f7;
          /*border-gray-200*/
          background-color: #edf2f7;
          /*bg-gray-200*/
        }

        /*Row Hover*/
        table.dataTable.hover tbody tr:hover,
        table.dataTable.display tbody tr:hover {
          background-color: #ebf4ff;
          /*bg-indigo-100*/
        }

        /*Pagination Buttons*/
        .dataTables_wrapper .dataTables_paginate .paginate_button {
          font-weight: 700;
          /*font-bold*/
          border-radius: 0.25rem;
          /*rounded*/
          border: 1px solid transparent;
          /*border border-transparent*/
        }

        /*Pagination Buttons - Current selected */
        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
          color: #fff !important;
          /*text-white*/
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
          /*shadow*/
          font-weight: 700;
          /*font-bold*/
          border-radius: 0.25rem;
          /*rounded*/
          background: #667eea !important;
          /*bg-indigo-500*/
          border: 1px solid transparent;
          /*border border-transparent*/
        }

        /*Pagination Buttons - Hover */
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
          color: #fff !important;
          /*text-white*/
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
          /*shadow*/
          font-weight: 700;
          /*font-bold*/
          border-radius: 0.25rem;
          /*rounded*/
          background: #667eea !important;
          /*bg-indigo-500*/
          border: 1px solid transparent;
          /*border border-transparent*/
        }

        /*Add padding to bottom border */
        table.dataTable.no-footer {
          border-bottom: 1px solid #e2e8f0;
          /*border-b-1 border-gray-300*/
          margin-top: 0.75em;
          margin-bottom: 0.75em;
        }

        /*Change colour of responsive icon*/
        table.dataTable.dtr-inline.collapsed
          > tbody
          > tr
          > td:first-child:before,
        table.dataTable.dtr-inline.collapsed
          > tbody
          > tr
          > th:first-child:before {
          background-color: #667eea !important;
          /*bg-indigo-500*/
        }
      </style>
    </head>
    <body>
      <!-- =======================loader============= -->
      <div
        th:if="${todos == null}"
        class="w-full h-full fixed top-0 left-0 bg-gray-600 opacity-75 z-50"
      >
        <div class="flex justify-center items-center mt-[50vh]">
          <div class="fas fa-circle-notch fa-spin fa-5x text-violet-600"></div>
          <div
            role="status"
            class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2"
          >
            <svg
              aria-hidden="true"
              class="w-14 h-14 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill"
              />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <!-- =========================Header================= -->
      <header class="dark">
        <nav
          class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
        >
          <div
            class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
          >
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img
                th:src="@{/images/todo_icon_1.png}"
                class="h-8"
                alt="Todo Logo"
              />
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                >Todo List</span
              >
            </a>
            <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
              <ul
                class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700"
              >
                <li>
                  <button
                    id="dropdownNavbarLink"
                    data-dropdown-toggle="dropdownNavbar"
                    class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                  >
                    Status
                    <svg
                      class="w-2.5 h-2.5 ms-2.5"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"
                      />
                    </svg>
                  </button>
                  <!-- Dropdown menu -->
                  <div
                    id="dropdownNavbar"
                    class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                  >
                    <ul
                      class="py-2 text-sm text-gray-700 dark:text-gray-400"
                      aria-labelledby="dropdownLargeButton"
                    >
                      <li>
                        <a
                          href="/todos/status/Pending"
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                          >Pending</a
                        >
                      </li>
                      <li>
                        <a
                          href="/todos/status/In Progress"
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                          >In Progress</a
                        >
                      </li>
                      <li>
                        <a
                          href="/todos/status/Completed"
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                          >Completed</a
                        >
                      </li>

                      <li>
                        <a
                          href="/todos/status/Canceled"
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                          >Canceled</a
                        >
                      </li>
                      <li>
                        <a
                          href="/todos/status/Incomplete"
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                          >Incomplete</a
                        >
                      </li>
                    </ul>
                    <div class="py-1">
                      <a
                        th:href="@{/todos/status/Archived}"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                        >Archived</a
                      >
                    </div>
                  </div>
                </li>
                <li>
                  <a
                    href="/trash"
                    class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    ><i class="bi bi-recycle"></i> Trash</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- =================Toast============= -->
      <div
        th:if="${message != null}"
        class="absolute right-0 pe-1 pt-1"
        th:classappend="${message == '' ? 'hidden' : ''}"
        id="toast"
      >
        <div
          id="toast-success"
          class="flex items-center w-full p-2 max-w-xs text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
          role="alert"
        >
          <div
            class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
            <span class="sr-only">Check icon</span>
          </div>
          <div class="ms-3 text-sm font-normal" th:text="${message}" />
          <button
            type="button"
            class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
            data-dismiss-target="#toast-success"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>
      </div>

      <!-- =================Table of Todos============= -->
      <section>
        <h1 class="text-center p-4 font-bold uppercase">
          <span class="border-b-2 border-b-gray-700">Active</span> Todos
        </h1>
        <div class="md:px-40">
          <div class="w-full text-end pe-5 mb-6">
            <a href="/create-todo">
              <i
                class="bi bi-plus-circle-fill text-4xl text-blue-600 hover:text-blue-800"
              ></i>
            </a>
          </div>
          <table id="example" class="display" style="width: 100%">
            <thead>
              <tr>
                <td class="select-all" style="border-bottom: 0">
                  Select All:
                  <input type="checkbox" id="select-all" />
                </td>
                <td style="border-bottom: 0">
                  <select
                    name=""
                    id="mark-as"
                    class="capitalize"
                    style="width: 100%"
                    th:onchange="submitSelectedIds()"
                  >
                    <option selected th:value="''" disabled>Action</option>
                    <option th:value="pending">Pending</option>
                    <option th:value="'in progress'">In Progress</option>
                    <option th:value="completed">Completed</option>
                    <option th:value="canceled">Canceled</option>
                    <option th:value="incomplete">Incomplete</option>
                    <option th:value="archived">Archived</option>
                    <option th:value="'soft-delete'">
                      <div class="border-t-2 border-black bg-red-200">
                        Delete
                      </div>
                    </option>
                  </select>
                </td>
              </tr>

              <tr>
                <th>NO</th>
                <th>Title</th>
                <th>Status</th>
                <th>Description</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="todo, stat : ${todos}">
                <td>
                  <div class="flex justify-evenly">
                    <span th:text="${stat.count}"></span>
                    <input
                      type="checkbox"
                      name="selectedIds"
                      th:value="${todo.id}"
                    />
                  </div>
                </td>
                <td th:text="${todo.title}" />
                <td>
                  <!-- Modal toggle -->
                  <!-- Assign the button class based on the todo.status -->
                  <div
                    th:with="btnClass=${todo.status == 'pending' ? 'bg-gray-500 hover:bg-gray-600' :
todo.status == 'in progress' ? 'bg-blue-500 hover:bg-blue-600' :
todo.status == 'completed' ? 'bg-green-500 hover:bg-green-600' :
todo.status == 'canceled' ? 'bg-red-500 hover:bg-red-600' :
todo.status == 'incomplete' ? 'bg-orange-500 hover:bg-orange-600' :
todo.status == 'archived' ? 'bg-purple-500 hover:bg-purple-600' : ''}"
                  >
                    <button
                      th:attr="data-modal-target=${'update-status-modal-' + todo.id}, data-modal-toggle=${'update-status-modal-' + todo.id}"
                      th:class="'capitalize flex-nowrap text-nowrap flex justify-between text-white w-full focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-blue-800 ' + ${btnClass}"
                      type="button"
                    >
                      <span th:text="${todo.status}"></span>
                      <i class="bi bi-pencil ml-1"></i>
                    </button>
                  </div>

                  <!-- =========================Form loop modal for status update================= -->
                  <!-- Main modal -->
                  <div
                    th:attr="id=${'update-status-modal-' + todo.id}"
                    tabindex="-1"
                    aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
                  >
                    <div class="relative p-4 w-full max-w-md max-h-full">
                      <!-- Modal content -->
                      <div
                        class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                      >
                        <!-- Modal header -->
                        <div
                          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                        >
                          <h3
                            class="text-xl font-semibold text-gray-900 dark:text-white"
                          >
                            Update Status
                          </h3>
                          <button
                            type="button"
                            class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            th:attr="data-modal-hide=${'update-status-modal-' + todo.id}"
                          >
                            <svg
                              class="w-3 h-3"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 14 14"
                            >
                              <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                              />
                            </svg>
                            <span class="sr-only">Close modal</span>
                          </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5">
                          <form
                            class="space-y-4"
                            th:action="@{/update-todo}"
                            th:with="objToUpdate = ${todo}"
                            th:object="${todo}"
                            th:method="put"
                          >
                            <div>
                              <label
                                for="status"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                >Status</label
                              >
                              <select
                                id=""
                                name="status"
                                field="*{status}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              >
                                <option
                                  selected
                                  th:value="__placeholder__"
                                  disabled
                                >
                                  Choose a Status
                                </option>
                                <option
                                  th:value="pending"
                                  th:selected="${todo.status == 'Pending'}"
                                >
                                  Pending
                                </option>
                                <option
                                  th:value="'in Progress'"
                                  th:selected="${todo.status == 'In Progress'}"
                                >
                                  In Progress
                                </option>
                                <option
                                  th:value="completed"
                                  th:selected="${todo.status == 'Completed'}"
                                >
                                  Completed
                                </option>
                                <option
                                  th:value="canceled"
                                  th:selected="${todo.status == 'Canceled'}"
                                >
                                  Canceled
                                </option>
                                <option
                                  th:value="'incomplete'"
                                  th:selected="${todo.status == 'Incomplete'}"
                                >
                                  Incomplete
                                </option>
                                <option
                                  th:value="archived"
                                  th:selected="${todo.status == 'Archived'}"
                                >
                                  Archived
                                </option>
                              </select>
                            </div>
                            <input
                              name="id"
                              type="hidden"
                              field="*{id}"
                              th:value="${objToUpdate.id}"
                            />
                            <input
                              name="description"
                              type="hidden"
                              field="*{description}"
                              th:value="${objToUpdate.description}"
                            />
                            <input
                              name="date"
                              type="hidden"
                              field="*{date}"
                              th:value="${objToUpdate.date}"
                            />
                            <input
                              name="isSoftDeleted"
                              type="hidden"
                              field="*{isSoftDeleted}"
                              th:value="${objToUpdate.isSoftDeleted}"
                            />
                            <input
                              name="title"
                              type="hidden"
                              field="*{title}"
                              th:value="${objToUpdate.title}"
                            />
                            <button
                              type="submit"
                              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            >
                              Update
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-wrap" th:text="${todo.description}"></td>
                <td th:text="${#dates.format(todo.date, 'dd-MM-yyyy')}" />
                <td class="flex justify-center items-center">
                  <a
                    th:href="@{/edit-todo/{id}(id=${todo.id})}"
                    class="text-yellow-700 bg-yellow-200 hover:bg-yellow-100 focus:ring-4 focus:ring-yellow-300 font-medium text-lg px-2 py-1 m-1"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </a>
                  <form
                    th:action="@{/soft-delete-todo/{id}(id=${todo.id})}"
                    th:method="put"
                    th:object="${todo}"
                  >
                    <!-- <input
                      type="hidden"
                      th:name="${_csrf.parameterName}"
                      th:value="${_csrf.token}"
                    /> -->
                    <button
                      type="submit"
                      class="text-red-700 bg-red-200 hover:bg-red-100 focus:ring-4 focus:ring-red-300 font-medium text-lg px-2 py-1 m-1"
                    >
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <script th:src="@{/flowbite.min.js}"></script>

      <script>
        $(document).ready(function () {
          var table = $("#example")
            .DataTable({
              responsive: true,
            })
            .columns.adjust()
            .responsive.recalc();
        });
      </script>
      <script th:src="@{/todos.js}"></script>
    </body>
  </html>
</html>
