<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      th:href="@{/images/todo_icon_1.png}"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/main.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap-icons.css}" />
    <title>Todo List</title>
  </head>
  <body>
    <!-- =========================Header================= -->
    <header class="dark">
      <nav
        class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
      >
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img
              th:src="@{/images/todo_icon_1.png}"
              class="h-8"
              alt="Todo Logo"
            />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Todo List</span
            >
          </a>
          <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
            <ul
              class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700"
            >
              <li>
                <button
                  id="dropdownNavbarLink"
                  data-dropdown-toggle="dropdownNavbar"
                  class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                >
                  Status
                  <svg
                    class="w-2.5 h-2.5 ms-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 4 4 4-4"
                    />
                  </svg>
                </button>
                <!-- Dropdown menu -->
                <div
                  id="dropdownNavbar"
                  class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                >
                  <ul
                    class="py-2 text-sm text-gray-700 dark:text-gray-400"
                    aria-labelledby="dropdownLargeButton"
                  >
                    <li>
                      <a
                        href="/todos/status/Pending"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >Pending</a
                      >
                    </li>
                    <li>
                      <a
                        href="/todos/status/In Progress"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >In Progress</a
                      >
                    </li>
                    <li>
                      <a
                        href="/todos/status/Completed"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >Completed</a
                      >
                    </li>

                    <li>
                      <a
                        href="/todos/status/Canceled"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >Canceled</a
                      >
                    </li>
                    <li>
                      <a
                        href="/todos/status/Incomplete"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >Incomplete</a
                      >
                    </li>
                  </ul>
                  <div class="py-1">
                    <a
                      th:href="@{/todos/status/Archived}"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
                      >Archived</a
                    >
                  </div>
                </div>
              </li>
              <li>
                <a
                  href="/trash"
                  class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  ><i class="bi bi-recycle"></i> Trash</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <h1 class="text-center p-4 font-bold uppercase">
        <span class="border-b-2 border-b-gray-700">Create</span> Todo
      </h1>

      <form th:action="@{/save-todo}" th:method="put" th:object="${todo}">
        <div class="mb-6 max-w-md ml-auto mr-auto">
          <!-- Hidden ID Field -->
          <input type="hidden" th:field="*{id}" />

          <!-- Title Field -->
          <div>
            <label
              for="title"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Title</label
            >
            <input
              type="text"
              id="title"
              th:field="*{title}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Todo Title"
              required
              minlength="3"
              maxlength="100"
            />
            <div
              class="text-red-600 text-sm"
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
            ></div>
          </div>

          <!-- Status Field (Visible only when editing) -->
          <div th:if="${todo.id != null}">
            <label
              for="status"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white capitalize"
              >Status</label
            >
            <select
              id="status"
              th:field="*{status}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            >
              <option selected th:value="__placeholder__" disabled>
                Choose a Status
              </option>
              <option th:value="pending">Pending</option>
              <option th:value="'in progress'">In Progress</option>
              <option th:value="completed">Completed</option>
              <option th:value="canceled">Canceled</option>
              <option th:value="incomplete">Incomplete</option>
              <option th:value="archived">Archived</option>
            </select>
            <div
              class="text-red-600 text-sm"
              th:if="${#fields.hasErrors('status')}"
              th:errors="*{status}"
            ></div>
          </div>

          <!-- Date Field -->
          <div>
            <label
              for="date"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Date</label
            >
            <input
              type="date"
              id="date"
              th:field="*{date}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            />
            <div
              class="text-red-600 text-sm"
              th:if="${#fields.hasErrors('date')}"
              th:errors="*{date}"
            ></div>
          </div>

          <!-- Description Field -->
          <div>
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Description</label
            >
            <textarea
              cols="5"
              id="description"
              th:field="*{description}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Description"
              required
              maxlength="225"
            ></textarea>
            <div
              class="text-red-600 text-sm"
              th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"
            ></div>
          </div>

          <!-- Submit Button -->
          <button
            type="submit"
            class="mt-4 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
          >
            <span th:text="${todo.id != null ? 'Update' : 'Create'}"
              >Create</span
            >
          </button>
        </div>
      </form>
    </section>

    <script th:src="@{/flowbite.min.js}"></script>
  </body>
</html>
